<!DOCTYPE html> 
<html lang="en"> 
  
<head> 
    <title>Wishlist</title>
    <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css"/>
</head> 

<body> 
    <h1>Wishlist</h1>
    <div class="container">
        <a href="/" class="button">View Wishlist</a>
        <a href="/delete" class="button">Delete Item</a>
        <div class="items">
            <form action="/add" method="POST">
                <label for="name">Item:</label>
                <input type="text" id="name" name="name"><br><br>
                <label for="link">Link:</label>
                <input type="text" id="link" name="link"><br><br>
                <input type="submit" value="Add">
            </form>
        </div>
    </div>
</body> 
  
</html>   