<!DOCTYPE html> 
<html lang="en"> 
  
<head> 
    <title>Wishlist</title>
    <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css"/>
</head> 
  
<body> 
    <h1>Wishlist</h1>
    <div class="container">
        <a href="/" class="button">View Wishlist</a>
        <a href="/add" class="button">Add Item</a>
        <div class="items">
            <% for (i = 0; i < items.length; i++) { %>
                <form method="POST" action="/delete?_method=DELETE">
                    <input type="hidden" name="index" value=<%= i %>>
                    <p><%= items[i].name %>
                        <button type="submit">Delete</button>
                    </p>
                </form>
            <% } %>
        </div>
    </div>
</body> 
  
</html> 