<!DOCTYPE html> 
<html lang="en"> 
  
<head> 
    <title>Wishlist</title>
    <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css"/>
</head> 
  
<body> 
    <h1>Wishlist</h1>
    <div class="container">
        <button type="button" class="button">View Wishlist</button>
        <button type="button" class="button">Add Item</button>
        <button type="button" class="button">Delete Item</button>
    </div>
</body> 
  
</html>   