<!DOCTYPE html> 
<html lang="en"> 
  
<head> 
    <title>Wishlist</title>
    <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css"/>
</head> 
  
<body> 
    <h1>Wishlist</h1>
    <div class="container">
        <a href="/add" class="button">Add Item</a>
        <a href="/delete" class="button">Delete Item</a>
    </div>
    <% for (i = 0; i < items.length; i++) { %>
        <p><%= items[i].name %></p>
        <ul>
            <li><a href=<%= items[i].link %> target="_blank">Link</a></li>
        </ul>
    <% } %>
</body> 
  
</html> 