<!DOCTYPE html> 
<html lang="en"> 
  
<head> 
    <title>Wishlist</title>
    <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css"/>
</head> 
  
<body> 
    <h1>Wishlist</h1>
    <div class="container">
        <a href="/login" class="button">Login</a><br><br>
        <a href="/register" class="button">Register</a>
    </div>
</body> 
  
</html> 